.pageTitleWithDefaultLogo {
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="924.000000pt" height="214.000000pt" viewBox="0 0 924.000000 214.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,214.000000) scale(0.100000,-0.100000)" fill="rgb(229, 9, 20)" stroke="none"><path d="M675 1851 c-82 -21 -140 -76 -187 -178 -59 -126 -76 -322 -39 -442 36 -115 68 -155 245 -299 92 -76 116 -111 116 -172 0 -128 -145 -195 -261 -121 -56 35 -85 79 -102 157 -12 52 -16 59 -38 59 -22 0 -26 -7 -42 -75 -10 -41 -27 -107 -38 -147 -10 -39 -19 -83 -19 -96 0 -61 134 -110 300 -111 280 0 435 143 470 437 10 83 9 108 -5 169 -28 123 -54 159 -228 307 -159 137 -182 177 -158 269 15 54 54 76 123 70 82 -8 145 -74 171 -178 24 -92 67 -92 86 0 5 25 19 71 31 104 11 32 19 65 16 73 -8 20 -183 130 -245 153 -60 23 -152 33 -196 21z"/><path d="M8375 1789 c-16 -10 -51 -22 -77 -25 -61 -8 -58 -3 -108 -274 -11 -63 -27 -142 -35 -175 -7 -33 -16 -76 -20 -95 -4 -19 -11 -48 -16 -65 -5 -16 -23 -88 -40 -160 -35 -149 -78 -300 -120 -429 -16 -49 -29 -94 -29 -102 0 -16 169 -25 186 -9 6 5 17 51 24 100 20 140 20 141 137 148 54 4 130 7 169 7 l72 0 21 -49 c11 -27 33 -86 47 -130 14 -45 31 -81 38 -82 28 -2 371 3 374 5 2 3 -19 53 -65 156 -43 93 -295 683 -304 710 -37 112 -198 485 -210 487 -8 1 -27 -7 -44 -18z m-3 -700 c37 -90 67 -171 68 -180 0 -13 -15 -20 -63 -28 -88 -15 -177 -14 -177 2 0 16 55 281 69 335 7 25 17 42 24 39 7 -2 42 -77 79 -168z"/><path d="M1186 1638 c-4 -35 -11 -133 -16 -218 -5 -85 -15 -213 -22 -285 -7 -71 -13 -188 -13 -260 1 -150 17 -219 71 -301 69 -103 181 -148 369 -148 163 1 265 32 361 110 96 78 139 194 149 401 3 71 13 213 21 316 9 104 13 195 10 203 -3 8 -18 14 -34 14 -16 0 -55 9 -88 19 -32 11 -62 17 -67 12 -4 -4 -9 -126 -12 -272 -8 -389 -22 -486 -78 -547 -47 -52 -128 -75 -209 -60 -67 12 -114 48 -142 107 -19 42 -21 61 -18 210 2 151 16 343 41 576 11 100 11 100 -54 110 -22 4 -87 22 -145 41 -58 19 -109 34 -112 34 -3 0 -9 -28 -12 -62z"/><path d="M7675 1583 c-33 -9 -66 -17 -74 -19 -9 -3 -11 -14 -7 -37 6 -31 17 -150 36 -377 4 -58 12 -133 15 -167 9 -79 -3 -82 -65 -17 -25 25 -117 111 -205 192 -88 80 -193 177 -232 216 l-73 70 -57 -13 c-32 -8 -81 -16 -110 -18 -29 -3 -57 -10 -63 -17 -7 -9 -7 -50 0 -132 11 -136 12 -610 1 -727 -4 -50 -3 -81 4 -86 16 -12 168 -6 173 7 2 6 -2 77 -8 159 -26 356 -26 393 6 393 26 0 372 -348 529 -532 l31 -35 119 3 c65 3 120 6 123 8 2 2 -1 62 -7 133 -12 142 -40 715 -44 893 -2 131 1 127 -92 103z"/><path d="M2258 1373 c-6 -82 -1 -89 85 -98 215 -23 327 -41 327 -54 0 -16 -138 -223 -357 -535 -130 -185 -155 -236 -120 -249 6 -2 102 0 212 5 125 5 295 5 453 -1 138 -6 259 -8 267 -5 18 7 22 119 5 129 -6 4 -109 6 -229 5 -213 -1 -251 3 -251 21 0 5 41 71 92 146 93 140 202 283 328 431 38 46 70 89 70 96 0 24 -24 34 -95 40 -38 4 -97 11 -130 16 -33 5 -94 14 -135 20 -175 25 -303 49 -385 71 -22 5 -56 14 -75 19 -57 15 -57 15 -62 -57z"/><path d="M6570 1349 c-47 -10 -112 -18 -145 -19 -33 0 -64 -4 -70 -8 -6 -4 -10 -164 -10 -445 0 -407 1 -438 17 -443 10 -3 22 -2 28 1 6 4 78 6 161 6 l151 -1 -7 118 c-4 64 -8 272 -9 462 -1 298 -3 345 -16 346 -8 1 -53 -7 -100 -17z"/><path d="M6060 1279 c-36 -5 -101 -12 -145 -16 l-80 -8 4 -150 c3 -119 1 -153 -10 -162 -9 -7 -71 -13 -164 -15 l-150 -3 0 150 0 150 -30 -2 c-16 -2 -97 -6 -180 -10 -115 -6 -149 -11 -147 -21 6 -29 2 -671 -4 -710 -4 -28 -3 -42 5 -43 67 -4 343 0 348 5 4 3 5 82 4 174 -2 130 1 171 11 179 16 13 288 26 306 14 15 -9 17 -114 6 -274 -5 -79 -4 -97 7 -97 126 -5 342 -1 349 6 4 5 4 125 -1 269 -5 143 -6 331 -2 418 l6 157 -34 -2 c-19 0 -63 -5 -99 -9z"/><path d="M3206 1003 c6 -335 14 -377 86 -459 71 -81 200 -118 403 -117 258 1 403 65 466 207 19 44 22 76 30 304 5 141 6 258 4 260 -3 3 -50 7 -105 9 l-100 3 6 -217 c9 -268 3 -322 -37 -368 -40 -45 -86 -59 -189 -59 -109 0 -163 26 -198 94 -22 44 -23 52 -21 315 l1 270 -39 3 c-21 1 -92 9 -158 17 -67 8 -128 15 -137 15 -16 0 -17 -24 -12 -277z"/><path d="M4600 1195 c-83 -17 -105 -26 -158 -65 -98 -71 -111 -211 -28 -295 51 -50 117 -82 268 -130 93 -29 123 -43 143 -67 32 -38 31 -44 -5 -78 -20 -19 -45 -29 -78 -34 -105 -14 -207 18 -272 87 -55 57 -70 49 -90 -51 -20 -96 -23 -91 78 -119 80 -22 346 -22 423 0 70 19 125 47 162 81 66 61 86 180 46 263 -29 61 -86 96 -215 133 -149 43 -193 58 -226 78 -29 17 -45 52 -33 72 23 38 157 61 235 40 29 -8 59 -27 87 -56 66 -66 78 -61 113 43 13 40 21 75 18 79 -3 3 -48 12 -99 19 -115 18 -282 18 -369 0z"/></g></svg>')!important;
    margin: 0 !important;
}

.material-icons {
    display: inline-block;
    font-family: Material Icons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    direction: inherit;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga"
}

.cardPadder .cardImageIcon {
    color: #111;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.material-icons.tv:before {
    content: "\e333"
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #202020
}

.skinHeader,
html {
    color: rgba(255, 255, 255, .8)
}

#dialogToc,
.backgroundContainer,
.dialog,
.drawer-open,
.mainDrawer,
.noBackdropTransparency .detailPageSecondaryContainer,
.nowPlayingContextMenu,
.nowPlayingPlaylist,
.ui-corner-all,
.ui-shadow,
.wizardStartForm,
html {
    background-color: #101010 !important
}

.emby-collapsible-button {
    border-color: rgba(255, 255, 255, .135)
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.skinHeader-withBackground,
.visualCardBox {
    background-color: #202020
}

.skinHeader.semiTransparent {
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, .4)
}

.layout-tv .detailRibbon,
.layout-tv .skinHeader.semiTransparent {
    background: 0 0
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png)
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, .86)
}

@media (hover:hover) and (pointer:fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, .2)
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, .2)
}

#dialogToc .bookplayerButtonIcon:hover,
#dialogToc .toc li a:active,
#dialogToc .toc li a:hover,
.button-flat:hover,
.button-link,
.emby-tab-button.show-focus:focus,
.emby-tab-button:hover,
.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus,
.inputLabelFocused,
.metadataSidebarIcon,
.paper-icon-button-light.show-focus:focus,
.selectLabelFocused,
.textareaLabelFocused,
.upNextDialog-countdownText {
    color: #00a4dc
}

.fab,
.raised,
.toast {
    background: #303030;
    color: rgba(255, 255, 255, .87)
}

.fab:focus,
.raised:focus {
    background: #383838
}

.button-submit,
.emby-button.show-focus:focus,
.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff
}

.button-delete {
    background: #f70000;
    color: rgba(255, 255, 255, .87)
}

.checkboxLabel,
.guide-headerTimeslots {
    color: inherit
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: rgba(255, 255, 255, .7)
}

.checkboxOutline {
    border-color: currentColor
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent
}

.defaultCardBackground1 {
    background-color: #00455c
}

.defaultCardBackground2 {
    background-color: #44bae1
}

.defaultCardBackground3 {
    background-color: #00a4db
}

.defaultCardBackground4 {
    background-color: #1c4c5c
}

.defaultCardBackground5 {
    background-color: #007ea8
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: rgba(255,255,255,.5);
    align-items: center;
    justify-content: flex-start
}

.actionsheetDivider {
    background: rgba(255, 255, 255, .14)
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: .5
}

.appfooter,
.playlistSectionButton {
    background: #202020;
    color: rgba(255, 255, 255, .78)
}

.itemSelectionPanel {
    border: 1px solid #00a4dc
}

.alphaPickerButton {
    color: rgba(255, 255, 255, .5);
    background-color: transparent
}

#bookPlayer .topButtons,
#comicsPlayer .actionButtonIcon,
#pdfPlayer .actionButtonIcon,
.alphaPickerButton-selected,
.emby-tab-button-active,
.fullSyncIndicator {
    color: #fff
}

.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important
}

.detailTableBodyRow-shaded:nth-child(2n) {
    background: rgba(30, 30, 30, .9)
}

.detailRibbon {
    background: rgba(32, 32, 32, .8)
}

.listItem-border {
    border-color: rgba(34, 34, 34, .9) !important
}

.listItem:focus {
    background: #333
}

.listItem:hover {
    background: #242424
}

.emby-checkbox:checked+span+.checkboxOutline,
.emby-checkbox:focus:not(:checked)+span+.checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.progressring-spiner {
    border-color: #00a4dc
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170, 170, 190, .2)
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: #292929;
    border: .16em solid #292929;
    border-radius: .2em
}

.emby-select-withcolor {
    color: inherit;
    background: #292929;
    border: .07em solid #292929
}

.emby-select-withcolor>option {
    color: inherit;
    background: #222
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable,
.emby-select-withcolor:focus {
    border-color: #00a4dc !important
}

.emby-select-tv-withcolor:focus,
.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #00a4dc !important;
    color: #fff !important
}

.emby-checkbox:focus+span+.checkboxOutline {
    border-color: #fff
}

.emby-checkbox:checked+span+.checkboxOutline,
.itemProgressBarForeground {
    background-color: #00a4dc
}

.itemProgressBarForeground-recording {
    background-color: #cb272a
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #00a4dc
}

.navMenuOption:hover {
    background: #252528
}

.navMenuOption-selected {
    background: #00a4dc !important;
    color: #fff
}

.emby-tab-button {
    color: #999
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(255, 255, 255, .05)
}

.programCell-sports {
    background: #3949ab !important
}

.programCell-movie {
    background: #5e35b1 !important
}

.programCell-kids {
    background: #039be5 !important
}

.programCell-news {
    background: #43a047 !important
}

.programCell-active {
    background: #1e1e1e !important
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555
}

.guide-date-tab-button {
    color: rgba(255, 255, 255, .3)
}

.emby-button.detailFloatingButton,
.guide-date-tab-button.show-focus:focus {
    background-color: #00a4dc;
    color: #fff
}

.infoBanner {
    color: #ddd;
    background: #111;
    padding: 1em;
    border-radius: .25em
}

.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
    color: #c33
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4
}

.buttonActive {
    color: #00a4dc !important
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: .4em;
    height: .4em
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    background: center no-repeat #888
}

.timeslotHeaders-desktop::-webkit-scrollbar {
    height: .7em
}

.layout-tv .emby-button.detailFloatingButton:focus {
    background-color: #f2f2f2;
    color: #00a4dc
}

#bookPlayer,
#comicsPlayer,
#pdfPlayer {
    background: #101010
}

#comicsPlayer .swiper-pagination {
    background: #101010;
    color: #fff
}

#dialogToc .bookplayerButtonIcon,
#dialogToc .toc li a:link {
    color: #ccc
}

#loginPage h1,
.parentName a {
    text-align: left
}

#itemDetailPage .itemExternalLinks,
div#loginPage,
div#videoOsdPage {
    margin-top: 0 !important
}

.videoSubtitles,
body,
h1,
h2,
h3,
h4 {
    font-family: "Netflix Sans", sans-serif !important
}

#loginPage .squareCard,
.layout-mobile .card:hover {
    transform: none !important
}

:root {
    --deftraback: rgba(229, 9, 20, 0.2) !important;
    --rounding: 3px !important;
    --accent: #e50914 !important
}

::-moz-selection {
    background: var(--accent);
    text-shadow: none
}

::selection {
    background: var(--accent);
    text-shadow: none
}

.force-scroll {
    overflow-y: auto;
    overflow-x: hidden
}

.emby-tab-button.show-focus:focus,
.emby-tab-button:hover,
.inputLabel.inputLabelFocused,
.layout-tv .paper-icon-button-light.show-focus:focus,
.selectLabel.selectLabelFocused,
.textareaLabel.textareaLabelFocused,
button.emby-tab-button.emby-button.emby-tab-button-active:hover {
    color: var(--accent) !important
}

.emby-button.show-focus:focus,
.navMenuOption-selected {
    background: var(--accent) !important
}

fieldset.verticalSection.verticalSection-extrabottompadding {
    border-radius: var(--rounding);
    border-color: #4d4d4d
}

#loginPage .squareCard {
    width: 50% !important;
    background: #141414 !important
}

#loginPage .cardText,
.card:focus .cardText,
.card:hover .cardText,
.cardFooter .cardText,
.chapterCard .cardText,
.dialogContainer .cardText,
.layout-mobile .cardText,
div[data-type=Episode] .cardText {
    opacity: 1
}

.emby-input:focus,
.emby-select:focus,
.emby-textarea:focus {
    border-color: var(--accent) !important;
    transform: none !important
}

.selectArrowContainer {
    top: .9em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

#itemDetailPage button.cardImageContainer.coveredImage.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast {
    border-radius: var(--rounding)
}

#indexPage button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.childrenItemsContainer button.cardImageContainer.coveredImage.cardContent,
.emby-scroller button.cardImageContainer,
.emby-scroller button.cardImageContainer.coveredImage.cardContent,
.nextUpItems button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.vertical-wrap button.cardImageContainer.coveredImage.cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important
}

.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
    box-shadow: none
}

.checkboxOutline {
    background: #737373 !important;
    border: none !important
}

span.material-icons.checkboxIcon.checkboxIcon-checked.check {
    background: #eee;
    color: #000;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 900
}

.videoOsdBottom {
    font-size: 110%;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent)
}

.skinHeader-withBackground.osdHeader {
    transition: opacity .3s ease-out;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .75), transparent) !important;
    color: #eee;
    height: 7.5em;
    pointer-events: none
}

.osdControls .flex.flex-direction-row.align-items-center {
    display: grid;
    grid-template-areas: "one two" "three three"
}

.osdControls .flex.flex-direction-row.align-items-center>:first-child {
    grid-area: one;
    justify-self: flex-start
}

.dashboardColumn:nth-child(2),
.osdControls .flex.flex-direction-row.align-items-center>:nth-child(2) {
    grid-area: three
}

.osdControls .flex.flex-direction-row.align-items-center>:nth-child(3) {
    grid-area: two;
    justify-self: flex-end;
    padding-right: .5em
}

.layout-desktop .osdControls {
    max-width: 100%
}

.mdl-slider::-webkit-slider-thumb {
    background: var(--accent)
}

.countIndicator,
.playedIndicator {
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 25px 25px
}

.cardIndicators {
    right: 0 !important;
    top: 0
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
    background: linear-gradient(-135deg, rgba(40, 40, 40) 50%, transparent 50%)
}

div#itemBackdrop {
    height: 80% !important;
    z-index: 0;
    position: absolute;
    background-position: top right;
    right: 0;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    mask-image: linear-gradient(to right, transparent, black), linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black), linear-gradient(to top, transparent, black);
    mask-composite: intersect;
    -webkit-mask-composite: intersect;
    mask-composite: intersect
}

.detailImageContainer .card,
.detailLogo,
div#itemBackdrop::after {
    display: none
}

.detailPageSecondaryContainer {
    margin: 0 !important;
    background: 0 0
}

div#itemDetailPage {
    background: #141414
}

.detailPagePrimaryContent {
    position: relative;
    width: 60vw;
    background: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-shadow: 1px 1px 5px #141414;
    padding: 0 !important;
    font-size: 1.3em
}

.layout-mobile .itemMiscInfo,
.layout-mobile .itemName,
.layout-mobile .mainDetailButtons,
.layout-mobile .parentName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0 5vw;
    margin-bottom: 2vw !important
}

.layout-mobile .nameContainer {
    font-size: 6.5vw
}

#itemDetailPage .detailVerticalSection:last-child {
    margin-bottom: 10vh
}

.layout-mobile #itemDetailPage .detailVerticalSection {
    background: 0 0;
    width: 100%;
    padding: 0
}

.itemName.parentNameLast {
    margin: 0;
    font-size: calc(135% * 2)
}

.layout .button-flat:focus,
.layout-mobile .button-flat:hover {
    color: #cdcdcd !important
}

.button-flat:focus,
.button-flat:hover {
    color: var(--accent)
}

@media (orientation:landscape) {
    .layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
        flex-flow: row;
        width: 100% !important;
        height: 60vw !important
    }

    .layout-mobile .mainDetailButtons {
        margin: 0 5vh;
        width: 50vw !important;
        flex-shrink: 1
    }

    .layout-mobile .infoWrapper.infoText {
        margin: 0 5vh !important;
        font-size: 5vh !important;
        max-width: 50%
    }

    .layout-mobile .nameContainer {
        font-size: 6.5vh
    }

    .layout-mobile .primaryImageWrapper>img {
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 90%) !important;
        mask-image: linear-gradient(0deg, transparent 0%, black 90%) !important
    }
}

.backdropContainer,
.layout-mobile .itemName.originalTitle,
.layout-tv .card[data-type=Actor] .cardPadder,
.listItem[data-type=Audio] .mediaInfoItem::after {
    display: none !important
}

.layout-tv .backdropContainer {
    display: block !important;
    z-index: -1
}

.layout-tv .backgroundContainer.withBackdrop {
    background-color: transparent !important
}

.card[data-type=Actor] .cardPadder,
.layout-tv div#itemDetailPage,
.listItem-withContentWrapper:hover {
    background: 0 0
}

.layout-tv div#itemBackdrop {
    width: 100vw;
    height: 100vh !important;
    background: linear-gradient(to left, transparent, rgb(20 20 20 / .5), #141414), linear-gradient(to bottom, transparent, rgb(20 20 20 / .5), #141414);
    z-index: -1;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    display: block;
    position: fixed;
    top: 0
}

.layout-tv .mainDetailButtons {
    height: 10vh
}

.layout-tv .mainDetailButtons>* {
    height: 10vh;
    width: 10vh
}

#castContent .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {
    margin: auto
}

@media (max-width:62.5em) {
    .section0 .cardText.cardTextCentered.cardText-first {
        height: 2.5em
    }
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    font-size: smaller;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden
}

.layout-mobile .detailPageSecondaryContainer {
    margin: 0
}

.detailPageWrapperContainer {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 5vw
}

.layout-mobile .detailPageWrapperContainer {
    margin: 0 !important;
    z-index: 0
}

.layout-mobile .detailPagePrimaryContainer {
    z-index: -1;
    background: 0 0 !important;
    height: 100vh;
    width: 100vw !important;
    padding: 0 !important
}

.layout-mobile .primaryImageWrapper {
    flex: 0 0 auto
}

.layout-mobile .mainDetailButtons {
    z-index: 1;
    padding: 0 5vw !important;
    flex-flow: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 2vh !important
}

.layout-mobile .infoText {
    position: static;
    flex: 0 0 auto;
    margin: 0 5vw;
    font-size: 5vw;
    width: calc(100vw - 10vw)
}

.layout-mobile #itemDetailPage .btnPlay,
.layout-mobile #itemDetailPage .btnResume {
    width: 100% !important;
    flex-shrink: 0;
    background: var(--accent) !important;
    text-shadow: none;
    flex-flow: row;
    font-size: 150%;
    justify-content: flex-start;
    grid-gap: 5% !important;
    padding: 10px !important
}

.layout-mobile #itemDetailPage .btnPlay::after {
    content: "Play"
}

.layout-mobile #itemDetailPage .btnResume::after {
    content: "Resume"
}

.layout-mobile #itemDetailPage .btnDownload::after {
    content: "Download"
}

.layout-mobile #itemDetailPage .btnPlayTrailer::after {
    content: "Trailer"
}

.layout-mobile #itemDetailPage .btnInstantMix::after {
    content: "Mix"
}

.layout-mobile #itemDetailPage .btnShuffle::after {
    content: "Shuffle"
}

.layout-mobile #itemDetailPage .btnCancelSeriesTimer::after {
    content: "Cancle Series"
}

.layout-mobile #itemDetailPage .btnCancelTimer::after {
    content: "Stop Recording"
}

.layout-mobile #itemDetailPage .btnPlaystate::after {
    content: "Watched"
}

.layout-mobile #itemDetailPage .btnUserRating::after {
    content: "Favourite"
}

.layout-mobile #itemDetailPage .btnSplitVersions::after {
    content: "Split"
}

.layout-mobile #itemDetailPage .btnMoreCommands::after {
    content: "More"
}

.layout-mobile #itemDetailPage .detailButton {
    width: calc(50% - 5px);
    background: #101010;
    justify-content: flex-start;
    flex-flow: revert;
    grid-gap: 6px
}

.layout-mobile .primaryImageWrapper>img {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
    -webkit-mask-image: linear-gradient(0deg, transparent 15%, black 90%);
    mask-image: linear-gradient(0deg, transparent 15%, black 90%)
}

.primaryImageWrapper::before {
    content: "";
    display: none
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    font-size: 120%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0 !important;
    z-index: 1;
    height: 80vh
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon .infoWrapper {
    flex: none !important;
    padding-left: 5.5% !important;
    padding-right: 5.5% !important
}

.layout-mobile .detailPageWrapperContainer>* {
    z-index: 1
}

@media (max-width:575px) and (min-width:695px) {
    .layout-mobile .nameContainer {
        font-size: 1em
    }
}

@media (min-width:695px) {
    .layout-mobile .nameContainer {
        font-size: 2em
    }

    .layout-mobile .infoWrapper.infoText {
        margin: 0 5vh !important;
        font-size: 2vh !important;
        max-width: 50%
    }
}

.cardText>.textActionButton {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis
}

.layout-tv .card:focus,
.navMenuOption-selected,
.skinHeader.semiTransparent.noHeaderRight {
    background: 0 0 !important
}

div#loginPage {
    overflow: hidden scroll
}

#loginPage h1::after {
    content: "Sign In";
    font-size: 32px
}

#loginPage h1 {
    font-weight: 700;
    font-size: 0;
    margin-bottom: 21.44px;
    margin-top: 32px !important
}

.inputContainer {
    margin-bottom: 1.8em;
    margin-top: 1.8em
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    background: #000000bf;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    border-radius: 10px;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3em !important;
    max-width: 24em
}

#loginPage .readOnlyContent {
    padding: 0 !important;
    width: 100% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.manualLoginForm {
    height: 100%;
    width: 100%
}

#loginPage .inputContainer {
    background: #333;
    border-radius: var(--rounding);
    height: 4em;
    position: relative
}

#loginPage .inputLabel.inputLabelFocused,
#loginPage .inputLabel:not(.inputLabel-float) {
    font-size: .8em;
    left: 4%;
    top: 4%;
    transform: none
}

.visualLoginForm {
    width: 100%;
    position: relative;
    overflow: hidden
}

#divUsers {
    flex-flow: revert;
    overflow: scroll visible;
    justify-content: flex-start
}

#loginPage .emby-input {
    height: 100%;
    background: 0 0 !important;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    box-shadow: none !important;
    padding: 4% !important;
    font-size: 1.1em;
    border: none !important
}

#loginPage .inputLabel {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 300;
    transition: .2s;
    color: #8c8c8c
}

#loginPage .inputContainer:focus,
#loginPage .inputContainer:focus-within {
    background: #454545
}

.layout-mobile #loginPage .padded-left.padded-right.padded-bottom-page {
    width: 90vw !important;
    max-width: 90vw !important;
    height: 90vh !important;
    background: 0 0
}

.layout-mobile #loginPage {
    background: linear-gradient(to left, #000000bf, #000000bf) 0 0/cover !important, url(https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/9f09b85f-530e-4090-82c3-a60ea2b3177f/US-en-20211115-popsignuptwoweeks-perspective_alpha_website_large.jpg) 0 0/cover !important repeat !important !important
}

@media (orientation:landscape) {
    .layout-mobile #loginPage .padded-left.padded-right.padded-bottom-page {
        width: 90vh !important;
        max-width: 90vh !important;
        height: -webkit-fit-content !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        transform: translateX(-50%);
        top: 0
    }
}

#loginPage {
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent 20%) 0 0/cover !important, linear-gradient(to bottom, rgba(0, 0, 0, .75), transparent 20%) 0 0/cover !important, linear-gradient(to left, rgba(0, 0, 0, .75), transparent 20%) 0 0/cover !important, linear-gradient(to right, rgba(0, 0, 0, .75), transparent 20%) 0 0/cover !important, url(https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/9f09b85f-530e-4090-82c3-a60ea2b3177f/US-en-20211115-popsignuptwoweeks-perspective_alpha_website_large.jpg) 0 0/cover !important repeat !important !important
}

div#videoOsdPage {
    overflow: hidden !important
}

.mdl-slider-background-lower {
    background-color: var(--accent) !important
}

.sliderBubble {
    background: var(--deftraback) !important;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #505050 !important;
    border-radius: 10px !important
}

.page {
    padding-bottom: 0 !important
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0) !important
}

.button-link,
.layout-mobile .card[data-type=Actor] .cardText-first {
    color: #fff !important
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff")
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff")
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format("woff")
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff")
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff")
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format("woff")
}

.videoSubtitles {
    font-weight: 700 !important;
    text-shadow: 0 0 8px #000 !important
}

video::-webkit-media-text-track-display {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video::-webkit-media-text-track-container {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video:cue {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

.formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding)
}

.formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding)
}

.actionSheetMenuItem:hover,
.blurhash-canvas,
.button-flat,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButton-hover,
.cardOverlayButtonIcon,
.cardOverlayContainer,
.cardPadder,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.dialog,
.emby-input,
.emby-select-withcolor,
.emby-textarea,
.fab,
.headerButton,
.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.layout-mobile .card:hover .cardScalable,
.listItem-border,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.multiSelectCheckboxOutline,
.paper-icon-button-light,
.paperList,
.sessionNowPlayingInnerContent,
.subtitleappearance-preview.flex.align-items-center.justify-content-center,
.toast,
.visualCardBox {
    border-radius: var(--rounding) !important
}

.osdPoster img {
    border-radius: var(--rounding);
    border: none
}

.mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding)
}

.mdl-slider::-ms-thumb {
    border-radius: var(--rounding)
}

div[data-role=controlgroup] a[data-role=button]:first-child {
    border-bottom-left-radius: var(--rounding);
    border-top-left-radius: var(--rounding)
}

div[data-role=controlgroup] a[data-role=button]:last-child {
    border-bottom-right-radius: var(--rounding);
    border-top-right-radius: var(--rounding)
}

.itemsContainer,
.itemsContainer>.card>.cardBox {
    margin: 0 !important
}

.sectionTitleContainer.flex {
    box-shadow: 0 0 #000 !important
}

.emby-input,
.emby-select,
.emby-textarea {
    box-shadow: none !important;
    background: #101010 !important;
    text-shadow: none !important;
    border: 2.5px solid #101010 !important;
    padding: calc(1em - 2.5px) !important;
    color: #fff !important;
    transition: .2s
}

.inputLabel,
.selectLabel,
.textareaLabel {
    color: #eee;
    font-size: 1.2em;
    align-items: center
}

.selectContainer {
    align-items: center
}

.secondary.listItem-overview.listItemBodyText,
label.selectLabel {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.listItemIcon.notifications {
    font-size: 2em
}

.actionSheetMenuItem:hover,
.defaultCardBackground {
    background: var(--deftraback) !important
}

.cardBox,
.layout-mobile .card:hover {
    box-shadow: none;
    background: 0 0 !important
}

.emby-scrollbuttons {
    z-index: 0
}

.sectionTitleContainer {
    z-index: -1
}

.layout-mobile .emby-scroller {
    padding: 0 !important;
    overflow: auto !important
}

.layout-mobile .innerCardFooter {
    width: 70%;
    margin: 0 3%
}

.layout-mobile .cardOverlayButton {
    color: #fff !important;
    border: 2px solid var(--accent);
    margin: 0 2% 2% 0
}

.card,
.card .cardScalable {
    border-radius: var(--rounding)
}

.cardBox {
    overflow: hidden;
    transition: .15s
}

.card {
    transition: .2s;
    z-index: 100
}

@media (min-width:25em) {
    .backdropCard {
        width: calc(50% - 10px)
    }
}

@media (min-width:48.125em) {
    .backdropCard {
        width: calc(33.333333333333336% - 10px)
    }
}

@media (min-width:75em) {
    .backdropCard {
        width: calc(25% - 10px)
    }
}

@media (min-width:100em) {
    .backdropCard {
        width: calc(20% - 10px)
    }
}

@media (min-width:156.25em) {
    .backdropCard {
        width: calc(16.666666666666668% - 10px)
    }
}

.portraitCard {
    width: calc(33.333333333333336% - 10px)
}

@media (min-width:31.25em) {

    .portraitCard,
    .smallBackdropCard,
    .squareCard {
        width: calc(33.333333333333336% - 10px)
    }
}

@media (min-width:43.75em) {

    .portraitCard,
    .squareCard {
        width: calc(25% - 10px)
    }
}

@media (min-width:50em) {

    .portraitCard,
    .squareCard {
        width: calc(20% - 10px)
    }
}

@media (min-width:75em) {

    .portraitCard,
    .squareCard {
        width: calc(16.666666666666668% - 10px)
    }
}

@media (min-width:87.5em) {

    .portraitCard,
    .smallBackdropCard,
    .squareCard {
        width: calc(14.285714285714286% - 10px)
    }
}

@media (min-width:100em) {

    .portraitCard,
    .squareCard {
        width: calc(12.5% - 10px)
    }

    .headerTabs {
        margin-top: -3.3em
    }
}

@media (min-width:120em) {

    .portraitCard,
    .squareCard {
        width: calc(11.11111111111111% - 10px)
    }
}

@media (min-width:131.25em) {

    .portraitCard,
    .squareCard {
        width: calc(10% - 10px)
    }
}

.card.show-animation:focus>.cardBox {
    transform: scale(1) !important
}

.card:first-child {
    transform-origin: left !important
}

.card:last-child {
    transform-origin: right
}

.verticalSection:focus-within,
.verticalSection:hover {
    z-index: 50
}

.card .cardScalable {
    overflow: hidden
}

.card:focus .cardScalable,
.card:hover .cardScalable {
    border-radius: 0 !important
}

.paper-icon-button-light.cardOverlayButton {
    background: #141414;
    border-radius: 100% !important
}

.cardOverlayButton[data-action=resume] {
    border: 2px solid var(--accent)
}

.cardText {
    opacity: 0;
    transition: .2s
}

.card:focus,
.card:hover,
.homeLibraryButton:focus,
.homeLibraryButton:hover {
    transform: scale(1.2) !important;
    -webkit-filter: none !important;
    filter: none !important;
    box-shadow: 0 0 20px #000
}

/* .card.chapterCard,
.card[data-type=Actor],
.layout-tv .card:focus,
.layout-tv .homeLibraryButton:focus,
.layout-tv .vertical-wrap .card:focus~.card::before,
.layout-tv a.show-focus[is=emby-linkbutton]:focus {
    transform: none !important
} */

.layout-tv .card {
    border-radius: 10px !important;
    margin: 0 !important;
    background: 0 0 !important
}

.layout-tv .card[data-type=Actor] {
    padding: 10px;
    position: relative;
    height: 16em
}

.layout-tv #itemDetailPage .emby-button::after,
.layout-tv .card::before,
.layout-tv .emby-tab-button::before,
.layout-tv .listItem::after,
.layout-tv .paper-icon-button-light::after,
.layout-tv .raised::after {
    box-sizing: border-box;
    content: "";
    width: 100%;
    height: 100%;
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 3px solid #fff;
    transform: translateY(100%);
    visibility: hidden;
    z-index: 1000;
    will-change: transform;
    transition: 275ms;
    border-radius: 10px
}

.button-flat,
.raised {
    border-radius: var(--rounding) !important
}

.listItem-border,
.listItem.listItem-border:hover {
    border-color: transparent !important
}

.layout-tv .raised::after {
    transition: transform 275ms, visiblity 0s 275ms
}

.layout-tv .cardBox {
    height: 100%;
    padding: 8px !important
}

.layout-tv #itemDetailPage .emby-button:focus::after,
.layout-tv .card:focus::before,
.layout-tv .emby-tab-button:focus::before,
.layout-tv .listItem:focus::after,
.layout-tv .paper-icon-button-light:focus::after,
.layout-tv .raised:focus::after,
.layout-tv a.show-focus[is=emby-linkbutton]:focus>.listItem::after {
    transform: translateX(0) !important;
    visibility: visible
}

.layout-tv #itemDetailPage .emby-button:focus~.emby-button::after,
.layout-tv .card:focus~.card::before,
.layout-tv .emby-tab-button:focus~.emby-tab-button::before,
.layout-tv .paper-icon-button-light:focus~.paper-icon-button-light::after,
.layout-tv .raised:focus~.raised::after {
    transform: translateX(-100%) !important
}

.layout-tv .listItem:focus~.listItem::after,
.layout-tv .verticalSection:focus-within~.section5 .card::before,
.layout-tv .verticalSection:focus-within~.verticalSection .card::before,
.layout-tv .verticalSection:focus-within~.verticalSection .raised::after,
.layout-tv a.show-focus[is=emby-linkbutton]:focus~a.show-focus[is=emby-linkbutton]>.listItem::after {
    transform: translateY(-100%)
}

.layout-tv #itemDetailPage :focus-within>.emby-button::after,
.layout-tv .verticalSection:focus-within .card::before,
.layout-tv :focus-within>.emby-tab-button::before,
.layout-tv :focus-within>.paper-icon-button-light::after,
.layout-tv :focus-within>.raised::after {
    transform: translateX(100%)
}

.layout-tv .emby-button:focus,
.layout-tv .emby-tab-button:focus,
.layout-tv .listItem:focus,
.layout-tv .paper-icon-button-light:focus {
    transform: none !important;
    background: 0 0 !important
}

.layout-tv .raised:focus {
    background: var(--accent) !important;
    transform: none !important
}

.layout-tv div[data-role=page]:not(#itemDetailPage)::after {
    background: #141414;
    overflow: visible;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

.card:focus,
.card:hover,
.homeLibraryButton {
    background-color: #101010 !important
}

.layout-tv .vertical-wrap .card::before {
    transform: none !important;
    visibility: visible;
    opacity: 0
}

.layout-tv .vertical-wrap .card:focus::before {
    transform: none !important;
    opacity: 1
}

.layout-tv .card[data-type=Actor] .cardText {
    position: absolute;
    background: 0 0 !important;
    opacity: 1;
    width: calc(100% - 10px);
    padding: 0 5px !important
}

.layout-tv .card[data-type=Actor] .cardText-first {
    bottom: 31.5px;
    height: 22px
}

.layout-tv .card[data-type=Actor] .cardText-secondary {
    bottom: 8px;
    border-radius: 0 0 10px 10px;
    height: 22px
}

.layout-tv .card[data-type=Actor] .cardScalable {
    overflow: hidden;
    border-radius: var(--rounding);
    height: inherit;
    padding-top: 0 !important
}

.layout-tv .card[data-type=Actor] .cardBox {
    padding: 0 !important
}

.itemsContainer.padded-left.padded-right.padded-right-withalphapicker.vertical-wrap {
    padding: 0 !important;
    margin: 0 3.3% !important;
    width: 89vw !important
}

.dialogContainer .vertical-wrap,
.vertical-wrap {
    width: 100% !important
}

.emby-scroller {
    overflow: visible !important
}

.card,
.homeLibraryButton {
    margin: 5px
}

.itemProgressBar {
    background: #141414;
    height: 6px
}

.itemProgressBarForeground,
.raised {
    background: var(--accent)
}

.innerCardFooter {
    width: calc(100% - 12px);
    margin: 0 auto;
    position: absolute;
    bottom: 6px
}

.card:not(:hover),
.homeLibraryButton:not(:hover) {
    z-index: 5
}

.overflowSquareCard .cardImageContainer::before {
    content: "";
    background: inherit;
    width: 130%;
    height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    -webkit-filter: brightness(40%) blur(10px);
    filter: brightness(40%) blur(10px);
    z-index: 0;
    transform: translate(-50%, -50%)
}

.overflowSquareCard .cardImageContainer::after {
    content: "";
    background: inherit;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    transition: .15s
}

.paper-icon-button-light:hover:not(:disabled) {
    color: var(--accent);
    background: #141414
}

.button-flat {
    text-shadow: 0 0 10px #141414
}

#indexPage .homeLibraryButton {
    background: #101010 !important;
    transition: .2s
}

.raised {
    background: var(--accent) !important
}

.listItem-withContentWrapper,
.upNextDialog-poster-img {
    border-radius: var(--rounding)
}

.mediaInfoItem {
    position: relative;
    margin-right: 16px;
    font-weight: 100
}

.mediaInfoItem:not(:last-child):after {
    content: "";
    width: 1px;
    height: 100%;
    background: #7c7c7cee;
    position: absolute;
    right: -9px;
    border-radius: 10px
}

.listItem.listItem-border:hover {
    background: #3f3f3f
}

.listItem.listItem-border {
    transition: border-color .2s, background .2s
}

div#divRunningTasks:hover {
    transform: scale(1.1)
}

div#divRunningTasks {
    transition: transform .2s, background .2s
}

.detailPageContent {
    text-shadow: none;
    background: 0 0;
    padding-left: 0 !important;
    padding-right: 0 !important
}

.layout-mobile .detailPageContent {
    padding: 0 !important;
    background: #141414
}

.layout-mobile #itemDetailPage .sectionTitle {
    padding-left: 5%
}

.layout-mobile .detailPagePrimaryContent {
    padding: 0 5% !important;
    width: calc(100vw - 10%) !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important
}

.layout-desktop #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer,
.layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
    position: relative;
    top: 0;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    background: 0 0;
    max-width: 95%;
    margin-top: 10vh;
    padding: 0 !important;
    height: fit-content !important;
    font-size: 135%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
    width: 95vw !important;
    margin-top: 10vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.cardOverlayButton-br {
    margin-right: 2%
}

.card[data-type=Actor] .cardBox {
    background: 0 0;
    position: relative
}

.card[data-type=Actor] .cardImageContainer::after {
    content: "";
    background: linear-gradient(360deg, rgba(0, 0, 0, .75), transparent 70%);
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-top: 100%
}

.cardDefaultText,
.dailogContainer .cardText {
    opacity: 1 !important
}

.card[data-type=Actor] .cardOverlayButton-br {
    position: absolute;
    bottom: 0% !important;
    right: 0 !important
}

.card[data-type=Actor] .cardImageIcon {
    bottom: 41%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

select {
    box-shadow: 0 0 6px 0 #000 !important;
    background: rgba(0, 0, 0, .2) !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    text-shadow: 0 0 5px #000 !important
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
button.button-flat.btnResume.detailButton.emby-button,
h2 {
    text-shadow: 0 0 5px #000
}

.tmla-mask {
    background: linear-gradient(to right, #000, transparent)
}

.dialogBackdrop {
    background-color: #0000
}

.listItem:hover {
    background: #000
}

.listItem {
    transition: transform .2s, background .2s, border-color .2s
}

.layout-mobile .listItem {
    flex-wrap: wrap !important;
    padding: 0 !important;
    margin: 0
}

.headerTabs.sectionTabs {
    -webkit-text-size-adjust: 120%;
    -moz-text-size-adjust: 120%;
    -ms-text-size-adjust: 120%;
    text-size-adjust: 120%;
    font-size: 120%
}

.emby-tab-button.emby-tab-button-active::after,
.emby-tab-button:hover::after {
    transform: scale(1)
}

.emby-tab-button::after {
    content: "";
    width: calc(100% - 2em);
    position: absolute;
    height: 4px;
    background: var(--accent);
    border-radius: 10px;
    transform: scaleX(0);
    transition: .2s;
    left: 1em;
    bottom: .75em;
    right: 1em
}

.emby-tab-button {
    position: relative;
    padding: 1em;
    color: #fff;
    font-size: 1.1em;
    -webkit-filter: drop-shadow(2px 4px 6px rgb(20, 20, 20));
    filter: drop-shadow(2px 4px 6px rgb(20, 20, 20))
}

.pageTitle {
    margin-top: auto;
    margin-bottom: auto
}

.backgroundContainer.withBackdrop {
    opacity: 1;
    z-index: -1;
    background-color: #141414
}

.backgroundContainer {
    background-color: #141414 !important
}

.dialog {
    background-color: #141414;
    overflow: auto !important
}

.formDialogContent {
    height: 100%
}

#itemDetailPage .vertical-list,
.listItem-withContentWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    padding: 0
}

.skinHeader {
    background: linear-gradient(to bottom, #050505, #141414) !important
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.semiTransparent {
    background: linear-gradient(to bottom, #141414, transparent) !important;
    box-shadow: none !important;
    transform: none !important
}

body:not(.withSectionTabs)>.skinHeader {
    background: linear-gradient(to bottom, rgba(20, 20, 20), transparent) !important;
    transform: none !important
}

.upNextDialog {
    box-shadow: 0 0 8px 5px #000
}

.cardOverlayFab-primary {
    background-color: #00000000
}

.cardOverlayButtonIcon {
    background-color: #00000000 !important
}

.cardOverlayContainer {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px 5px 0 0 !important
}

.actionSheetMenuItem:hover {
    background-color: rgba(0, 164, 220, .2)
}

.mainDrawer,
.mainDrawer.drawer-open {
    box-shadow: none !important;
    background: 0 0
}

.navMenuOption {
    position: relative;
    border-radius: var(--rounding) !important;
    grid-gap: 5px
}

.navMenuOption:hover {
    background: 0 0;
    margin-left: 10px !important
}

.navMenuOption::before {
    content: "";
    width: 5px;
    height: 1.5em;
    background: var(--accent);
    display: block;
    flex: 0 0 auto;
    border-radius: 10px;
    opacity: 0;
    transition: .2s
}

.navMenuOption:hover:before {
    opacity: 1;
    height: 1.5em !important
}

.navMenuOption-selected::before {
    opacity: 1;
    height: 2em
}

.dialogContainer .card {
    background: #000 !important;
    transform: none !important
}

.listItem[data-type=Audio] .listItem-indexnumberleft {
    padding-left: 5px
}

#itemDetailPage .vertical-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: fit-content;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    margin: -6px;
    width: 100%
}

#itemDetailPage .emby-select {
    box-shadow: none !important
}

.layout-tv #itemDetailPage .itemName.infoText.parentNameLast {
    display: block
}

.listItem-withContentWrapper:hover .listItemImageButton.itemAction.paper-icon-button-light {
    opacity: 100%
}

@media (max-width:1291px) {
    #itemDetailPage .vertical-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width:991px) {
    #itemDetailPage .vertical-list {
        grid-template-columns: repeat(2, 1fr)
    }
}

.listItem-withContentWrapper {
    transition: none;
    height: fit-content;
    max-width: 100%;
    margin: 6px;
    overflow: hidden;
    -webkit-border-radius: var(--rounding);
    -moz-border-radius: var(--rounding);
    -ms-border-radius: var(--rounding);
    -o-border-radius: var(--rounding)
}

div:not(.paperList) .listItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0
}

.listItem-content {
    height: 100%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center
}

.listItemImage.listItemImage-large.itemAction.lazy {
    height: 14rem;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    background-size: cover
}

.listItemImage.listItemImage-large::after {
    content: "";
    background-image: -moz- oldlinear-gradient(bottom, rgba(0, 0, 0, .8) 5%, rgba(0, 0, 0, 0) 95%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 5%, rgba(0, 0, 0, 0) 95%);
    position: absolute;
    bottom: 0;
    right: -.5px;
    left: 0;
    height: 55px
}

.layout-mobile #itemDetailPage .vertical-list {
    grid-template-columns: 100%;
    width: 90vw;
    margin: 0 auto !important
}

.listItemIndicators {
    top: 0;
    right: 0
}

.listItem-overview {
    font-size: 12px !important;
    line-height: 18px;
    font-weight: 400 !important;
    color: #a3a3a3 !important
}

.listItemBodyText {
    margin: 0 !important;
    font-size: 16px;
    font-weight: 700
}

.layout-mobile .itemsContainer,
.layout-mobile .listItem-bottomoverview {
    padding: 0 10px
}

.layout-mobile .itemsContainer>:last-child {
    padding-right: 10px !important
}

.listItemBody.itemAction {
    padding: 0 5px
}

.card[data-type=CollectionFolder] .cardText {
    height: 3rem
}

#itemDetailPage::-webkit-scrollbar-track-piece {
    background: #141414
}

.listItemImageButton.itemAction.paper-icon-button-light {
    opacity: 0;
    color: var(--accent);
    transition: .2s
}

.layout-mobile .listItemImageButton.itemAction.paper-icon-button-light {
    opacity: 100% !important
}

.layout-tv #itemDetailPage .vertical-list {
    grid-template-columns: 1fr
}

.layout-tv .emby-scroller {
    overflow: hidden !important
}

.layout-tv .listItem[data-type=Episode] {
    padding: 7.5px !important
}

.listItemImage-large-tv {
    width: 18% !important;
    height: auto !important;
    aspect-ratio: 16/9 !important
}

.layout-tv .listItemBodyText {
    font-size: 100% !important
}

.layout-tv .listItemBodyText.listItem-overview {
    line-height: 1.2
}

.layout-tv .listItemImage.listItemImage-large::after {
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    width: 55px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, .8) 5%, transparent 95%)
}

.section0 button.itemAction.textActionButton {
    height: 3.5em;
    background: rgba(0, 0, 0, 0);
    border-radius: var(--rounding)
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 90vw
}

.section0 .emby-scroller {
    margin-right: 0
}

@media (max-width:1px) and (orientation:landscape) {
    .section0 {
        display: none
    }
}

.section0 .sectionTitle {
    padding-top: 60px !important
}

@media (max-width:1px) {
    .section0 {
        display: none
    }
}

.raised.homeLibraryButton,
.raised.homeLibraryButton:hover {
    transition: filter 1s;
    transition: filter 1s, -webkit-filter 1s
}

.homeLibraryButton {
    z-index: 100;
    min-width: 12em;
    margin: .4em
}

.paperList,
.visualCardBox {
    background-color: transparent
}

.listItemIcon {
    border-radius: 5px !important
}

.listItemIcon:not(.listItemIcon-transparent) {
    background-color: transparent !important;
    color: var(--accent)
}

.dashboardSections {
    display: grid;
    grid-template-areas: "one one two" " three three three";
    grid-auto-columns: 1fr;
    grid-gap: 30px
}

.dashboardColumn:first-child {
    grid-area: one
}

.dashboardColumn:nth-child(3) {
    grid-area: two
}

.activeDevices .card {
    transform: none !important;
    border: 5px solid #141414;
    border-radius: 10px !important
}

.dashboardSection {
    background: #000;
    border-radius: 20px;
    padding: 20px
}

.dashboardColumn.dashboardColumn-2-60.dashboardColumn-3-46 .paperList {
    font-family: monospace;
    font-size: 1.5em;
    padding: 0 !important;
    color: #ffffffa3
}

@media (max-width:1291px) {
    .dashboardSections {
        grid-template-areas: "one" "two" "three"
    }
}

.playerStats {
    background: #141414;
    box-shadow: 0 0 8px #000
}

.chapterCard .innerCardFooter {
    background: linear-gradient(0deg, #000, transparent);
    width: 100%;
    bottom: 0;
    margin: 0 !important
}

.chapterCard .innerCardFooter>.cardText:first-child {
    float: left
}

.chapterCard .innerCardFooter>.cardText:last-child {
    float: right
}